node_modules
dist
build
out
release
.cache
.DS_Store
.env
.env.local
*.log
coverage
.vite
.parcel-cache
.next
.turbo
android/app/build
android/build
android/.gradle
ios/App/build
electron/bin/*
!electron/bin/.gitkeep
